@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{margin:0; padding:0;}

body{
	font-family: 'DM Serif Display', serif;
	background-image: url(''); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed; /* Optional: Keep the background fixed while scrolling */
}

section{
	background-color:darkgray;
	padding:20px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap-reverse;
	justify-content: space-evenly;
	gap:1px;
  border: 4px black solid;
}

p.title{
  min-height:650px;
  font-size: 150px;
  padding:30px;
}



div.title{
  font-size: 30px;
}




p{
	min-height:100px;
	background-color:lightgray;
	padding:5px;
	border: 4px black solid;
  font-size:15px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fullscreen {
  z-index: 2000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  background-color: white;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}


body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#next-link {
  middle: 60px;
  top: 60px;
}

#next-link > i {
  color: rgb(94, 106, 210);
}

#home-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  top: 680px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: rgb(0, 0, 0);
  font-family: "Abril Fatface", sans-serif;
  font-weight: 500;
}

