@import url(https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Sriracha&display=swap);

body {
 font-family: Edu TAS Beginner , serif;
 background-image: url('img/pattern.webp');
 background-repeat: repeat; 
 background-attachment: fixed; 
 padding: 50px;
}

nav{
	font-size:30px;
}

.home{
	font-size: 200px;
}

.step0 { vertical-align: -360%; }
.step1 { vertical-align: -240%; }
.step2 { vertical-align: -120%; }
.step3 { vertical-align:   0%; }
.step4 { vertical-align:  120%; }
.step5 { vertical-align:  240%; }
.step6 { vertical-align:  360%; }


section{
	padding:20px;
	gap:1px;

}


.home{
	background-color:blue;
}

p.title{
  min-height:600px;
  font-size: 130px;
  padding:20px;
}

p{
		font-size: 20px;
}

p.davis{
		text-decoration:line-through;
		line-height: 200%;
		letter-spacing: -2px;
		text-align:center;
}

#hex{
	color: #00008b;
}

#named{
	color: lime green;
}

#rgbc{
	color: rgba(150,75,0,.5);
}

h{
	font-size: 30px;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

img {
  max-width: 70%;
  max-height:70%;
  height:500px;
}

.text {
  font-size: 10px;
}

div.group{
	height:600px;
	width: 500px;
}

#image-track {
	display: flex;
	gap: 4vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%); 
	user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
	width: 40vmin;
	height: 56vmin;
	object-fit: cover;
	object-position: 100% center;
  }
  
  
  body.menu-toggled > .meta-link > span {
	color: rgb(30, 30, 30);
  }
  
  #next-link {
	middle: 60px;
	top: 60px;
  }
  
  #next-link > i {
	color: rgb(94, 106, 210);
  }
  
  #home-link > i {
	color: rgb(239, 83, 80);
  }
  
  .meta-link {
	align-items: center;
	backdrop-filter: blur(3px);
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 6px;
	top: 680px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;  
	display: inline-flex;
	gap: 5px;
	left: 10px;
	padding: 10px 20px;
	position: fixed;
	text-decoration: none;
	transition: background-color 400ms, border-color 400ms;
	z-index: 10000;
  }
  
  .meta-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
	height: 20px;
	line-height: 20px;
  }
  
  .meta-link > span {
	color: rgb(0, 0, 0);
	font-family: "Abril Fatface", sans-serif;
	font-weight: 500;
  }
  
  